# ----------------------------------------------------
# Python 编译和环境文件
# ----------------------------------------------------
__pycache__/
*.pyc
*.pyd
.venv/
venv/
# Conda environments
envs/

# ----------------------------------------------------
# PyInstaller 打包生成的文件和目录
# ----------------------------------------------------
# PyInstaller 创建的主要目录
build/
dist/

# PyInstaller 运行时生成的文件
*.spec 

# ----------------------------------------------------
# IDE/编辑器配置 (可选，但推荐)
# ----------------------------------------------------
# Visual Studio Code
.vscode/
# PyCharm
.idea/